/* ---- Base Rules ---- */
@import url(/CSS_LP_2.0/system-fonts-1.css);



body {
    background: rgba(235, 245, 147, 0.753);
    /* background: linear-gradient(0 deg, rgb(235, 245, 147) 0%, rgb(215, 190, 232) 100%); */
}

/* Typography General is in the system-fonts-1*/



/* ---- Layout Rules ---- */

main{
    margin: 2vh 2em 20vh;
}

section{
    height: 90vh;
}

.section-container{
    /* min-height: 1200px; */
    padding: 0.5em;
    padding-top: 5em;
}



.title-and-activeimg {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.main-title {
    min-height: 20vh;
    padding-top: 7em;
}



/* Navigation Styles*/
/* NAV BAR MENU STYLES*/

.navbar-menu li {
    display: inline-block;
}

.navbar-menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar-menu {
    position: fixed;
    background-color: rgb(170, 187, 243);
    transition: all 0,3s ease-out;
    top: 0;
    width: 100%;
    z-index: 5;

}

.active a {
    background: rgb(215, 190, 232);
    text-decoration: underline;
}

.navbar-menu .nav-menu-link {
    display: block;
    padding: 1em;
    text-decoration: none;
}

.navbar-menu .nav-menu-link:hover {
    background: rgb(215, 190, 232);
    text-decoration: underline;

}



/* Header Styles */

header{
    height: 3vh;
    padding-top: 3em;
}

img {
    visibility: hidden;
    height: 100px;
}

.active-section img{
    visibility: visible;
}

.active-section {
    background-color: rgba(85, 107, 47, 0.068);
}



/*FOOTER STYLES*/
footer {
    background: rgb(215, 190, 232);
    color: lavender;
    padding-left: 0;
    padding-top: 2em;
    padding-bottom: 2em;
}

/* MEDIA QUERY FOR MEDIUM SCREENS */
@media (min-width: 600px)and (max-width: 1500px){
    .section-container{
        padding: 4em;
    }

    main{
        margin: 2vh 1em 20vh;
    }

    section{
        height: 62vh;
    }

}

/* MEDIA QUERY FOR LARGE SCREENS */
@media (min-width: 1501px) and (max-width: 2500px) {
    .section-container{
        padding: 10em;
    }

    main{
        margin: 2vh 4em 20vh;
    }

    section{
        height: 65vh;
    }

}

/* MEDIA QUERY FOR LARGE SCREENS */
@media (min-width: 2501px) {
    .section-container{
        padding: 15em;
    }

    main{
        margin: 2vh 6em 20vh;
    }

    section{
        height: 75vh;
    }

}